$scoreUnicornMatchBg: #0093d2;
$scoreUnicornMatchFg: #0093d2;
$scoreMatchBg: #006cb7;
$scoreMatchFg: #006cb7;
$scoreWeakMatchBg: #015486;
$scoreWeakMatchFg: #015486;
$scoreWeakMismatchBg: #606060;
$scoreWeakMismatchFg: #606060;
$scoreMismatchBg: #ab0000;
$scoreMismatchFg: #ab0000;

$scoreStandoutMatchBorderColor: #049ada;
$scoreStandoutMatchBgColor: rgba(4, 132, 186, 0.47);
$scoreStandoutWeakMatchBorderColor: #006cb7;
$scoreStandoutWeakMatchBgColor: rgba(2, 91, 153, 0.4);
$scoreStandoutNeutralBorderColor: rgba(0, 0, 0, 0);
$scoreStandoutWeakMismatchBorderColor: #888;
$scoreStandoutWeakMismatchBgColor: rgba(170, 170, 170, 0.0);
$scoreStandoutMismatchBorderColor: #ab0000;

$genders: (
        "shemale": #e2445f,
        "herm": #d40759,
        "none": $gray-500,
        "female": #66ff74,
        "male": #6699ff,
        "male-herm": #007fff,
        "transgender": #ee8822,
        "cunt-boy": #63ee22,
);

@each $gender, $color in $genders {
  .gender-#{$gender} {
    color: $color;
  }

  .message-event .gender-#{$gender} {
    color: lighten($color, 5%)
  }
}
