// Base colors, used for pretty much everything.
// On dark based themes these are inverted in order to cooperate with bootstrap which assumes that all themes are light based.
$gray-base: #000;
$white: $gray-base;
$gray-100: lighten($gray-base, 10%);
$gray-200: lighten($gray-base, 20%);
$gray-300: lighten($gray-base, 30%);
$gray-400: lighten($gray-base, 40%);
$gray-500: lighten($gray-base, 50%);
$gray-600: lighten($gray-base, 60%);
$gray-700: lighten($gray-base, 70%);
$gray-800: lighten($gray-base, 80%);
$gray-900: lighten($gray-base, 90%);
$black: #fff;

// Theme and brand colors
$primary: #003399;
$secondary: $gray-300;
$success: darken(#009900, 5%);
$info: #003399;
$warning: #c26c00;
$danger: darken(#930300, 5%);
$light: $gray-100;
$text-muted: $gray-400;
$text-dark: $gray-500;
$component-active-color: $gray-800;

// Core page element colors
$body-bg: $gray-base;
$body-color: $gray-800;
$link-color: $gray-700;
$link-hover-color: lighten($link-color, 15%);
$dropdown-bg: $gray-200;

// Modal Dialogs
$modal-backdrop-bg: $white;
$modal-content-bg: $gray-100;
$modal-header-border-color: $gray-200;

// Fix YIQ(automatic text contrast) preferring black over white on dark themes.
$yiq-text-light: $gray-800;

// Reduce default padding slightly between columns in grids.
$grid-gutter-width: 20px;

// Form Elements
$input-bg: $gray-100;
$input-color: $black;
$input-border-color: $secondary;
$custom-select-bg: $gray-200;

// List groups
$list-group-bg: $gray-200;

// Pagination
$pagination-active-color: $link-color;

// F-List specific color helpers to help make monochromatic themes easier to deal with.
$text-background-color: $gray-100;
$text-background-color-disabled: $gray-200;

// F-List Rising
$scoreUnicornMatchBg: rgb(0, 173, 173);
$scoreUnicornMatchFg: rgb(29, 154, 154);
$scoreMatchBg: rgb(0, 142, 0);
$scoreMatchFg: rgb(0, 113, 0);
$scoreWeakMatchBg: rgb(0, 80, 0);
$scoreWeakMatchFg: rgb(0, 64, 0);
$scoreWeakMismatchBg: rgb(152, 134, 0);
$scoreWeakMismatchFg: rgb(142, 126, 0);
$scoreMismatchBg: rgb(171, 0, 0);
$scoreMismatchFg: rgb(128, 0, 0);
$scoreTitleColor: white;
$scoreMinimizeButtonFg: rgba(255, 255, 255, 0.7);
$scoreMinimizeButtonBg: rgba(0,0,0,0.2);
$scoreReportBg: rgba(0,0,0,0.2);

$scoreFadedUnicornMatchBg: adjust-color($scoreUnicornMatchBg, $alpha: -0.6);
$scoreFadedUnicornMatchFg: adjust-color($scoreUnicornMatchFg, $alpha: -0.6);
$scoreFadedMatchBg: adjust-color($scoreMatchBg, $alpha: -0.6);
$scoreFadedMatchFg: adjust-color($scoreMatchFg, $alpha: -0.6);
$scoreFadedWeakMatchBg: adjust-color($scoreWeakMatchBg, $alpha: -0.6);
$scoreFadedWeakMatchFg: adjust-color($scoreWeakMatchFg, $alpha: -0.6);
$scoreFadedWeakMismatchBg: adjust-color($scoreWeakMismatchBg, $alpha: -0.6);
$scoreFadedWeakMismatchFg: adjust-color($scoreWeakMismatchFg, $alpha: -0.6);
$scoreFadedMismatchBg: adjust-color($scoreMismatchBg, $alpha: -0.6);
$scoreFadedMismatchFg: adjust-color($scoreMismatchFg, $alpha: -0.6);

$scoreStandoutMatchBorderColor: #048a04;
$scoreStandoutMatchBgColor: rgba(0, 110, 0, 0.47);
$scoreStandoutWeakMatchBorderColor: #014a01;
$scoreStandoutWeakMatchBgColor: rgba(0, 79, 0, 0.4);
$scoreStandoutNeutralBorderColor: #555;
$scoreStandoutWeakMismatchBorderColor: rgb(138, 123, 0);
$scoreStandoutWeakMismatchBgColor: rgba(208, 188, 0, 0.0);
$scoreStandoutMismatchBorderColor: #841a1a;

$characterImageWrapperBg: rgba(0,0,0, 0.2);
$characterGuestbookPostBg: rgba(0,0,0,0.15);
$characterGuestbookPostBorderColor: rgba(255, 255, 255, 0.1);
$characterGuestbookReplyBg: rgba(0,0,0, 0.1);
$characterGuestbookTimestampFg: rgba(255, 255, 255, 0.3);
$characterKinkCustomColor: #f2cd00;
$characterKinkCustomBorderColor: rgba(255, 255, 255, 0.1);
$characterKinkStockColor: #ededf6;
$characterKinkStockHighlightedColor: #ffffff;
$characterInfotagColor: rgba(255, 255, 255, 0.7);

$messageTimeBgColor: #4f4f61;
$messageTimeFgColor: #dadada;

$headerBackgroundMaskColor: #202020;

$linkForcedColor: white;
$tabSecondaryFgColor: rgba(255, 255, 255, 0.5);

@import "invert";
